.logoutModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10040;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SanFrancisco", -apple-system, BlinkMacSystemFont, sans-serif;
}

.modalContent {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.confirmButton {
  background-color: #b41c2b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.cancelButton {
  background-color: #fff;
  color: #388cfa;
  border: 0px solid #ac18ab;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #f5f5f5;
}
